body {
  background-color: #e5e5e5;
}

button {
  border: none;
  background: none;
  padding: 0;
}

.logo {
  position: absolute;
  top: 20px; left: 20px;
}

.one {
  margin-left: 8px;
  width: 150px;
}

.start {
  width: 190px;
  display: flex;
  justify-content: center;
  font: normal 20px Arial, Helvetica, sans-serif;
  padding: 15px;
  border-radius: 24px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
  background-color: #0A3871;
  color: #e5e5e5;
  border: none;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.start:hover { 
  background: none;
  color: #0A3871;
  border: 1px solid #0A3871;
}

p {
  
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0A3871;
}

#word {
  border-radius: 10px;
  height: 25px;
  width: 210px;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}