body {
  background-color: #e5e5e5;
}

main {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 10px; left: 20px;
}

.one {
  margin-left: 8px;
  width: 150px;
}

.start {
  width: 190px;
  display: flex;
  justify-content: center;
  font: normal 20px Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 24px;
  text-decoration: none;
  background-color: #0A3871;
  color: #e5e5e5;
  border: none;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.start:hover { 
  background: none;
  color: #0A3871;
  border: 1px solid #0A3871;
}

p {  
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0A3871;
}

#input-new-word {
  border-radius: 10px;
  height: 25px;
  width: 210px;
}

#palavra-secreta{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.layout-letras{
  width: 20px;
  text-align: center;
  border-bottom: 3px solid #0A3871;
  margin: 0px 5px;
}

.letras-incorretas {
  display: inline-block;
  color: black;
  margin: 1.5px;
}