body {
  background-color: #e5e5e5;
}

main {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 10px; left: 20px;
}

.one {
  margin-left: 8px;
  width: 150px;
}

.btn {
  width: auto;
  display: flex;
  justify-content: center;
  font: normal 20px Arial, Helvetica, sans-serif;
  padding: 7px 20px;
  margin-bottom: 10px;
  border-radius: 24px;
  text-decoration: none;
  background-color: #0A3871;
  color: #e5e5e5;
  border: none;
}

.btn:hover { 
  background: none;
  color: #0A3871;
  border: 1px solid #0A3871;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {  
  font: normal 25px Arial, Helvetica, sans-serif;
  color: #0A3871;
  text-align: center;
  margin-bottom: 5px;
}

#input-new-word {
  border-radius: 10px;
  height: 17px;
  width: 180px;
  font: normal 15px Arial, Helvetica, sans-serif;
  color: #0A3871;
  text-align: center;
}

#palavra-secreta{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.layout-letras{
  width: 20px;
  text-align: center;
  border-bottom: 3px solid #0A3871;
  margin: 0px 5px;
}

.letras-incorretas {
  display: inline-block;
  color: black;
  margin: 3px;
  font-size: 18px;
}

#result {
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

#teclado {
  width: 400px;
  text-align: center;
}

#teclado button {
  color: white;
  background-color: #0A3871;
  text-align: center;
  border: none;
  height: 25px;
  width: 25px;
  margin: 2px 2px;
  border-radius: 5px;
  font-size: 16px;
}

#teclado button:hover {
  background-color: #3f5877;;
}

#reiniciar {
  margin-top: 10px;
}

@media (max-width: 768px){
  
  .btn {
    font-size: 16px;
  }
  p {  
    font-size: 20px;
  }

  #palavra-secreta{
    font-size: 16px;
  }

  #teclado button {
    font-size: 12px;
  }

  #result {
    font-size: 16px;
  }
  
  .letras-incorretas {
    font-size: 16px;
  }
}

@media (max-width: 380px){
  #teclado {
    width: auto;
  }

  .alura {
    width: 60px;
  }

  .one {
    width: 120px;
  }
}